@media (max-width: 1260px) {
  .header_content {
    margin: 0 20px;
    margin-bottom: 78px;
  }
}

@media (max-width: 1115px) {
  .features {
    padding-bottom: 71px;
  }

  .features_row {
    column-gap: 0;
    gap: 35px;
  }

  .header_logo {
    margin-right: 0;
  }

  .header_content {
    margin: 0 20px;
  }

  .Reports_row {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }

  .Reports_column {
    width: 100%;
  }

  .Reports_column-img {
    max-width: 100%;
  }

  .Reports_row+.a.Reports_row {
    margin-top: 70px;
  }

  .Reports_row:nth-child(even) {
    flex-direction: column;
  }

  .Reports {
    padding-bottom: 0px;
  }

  .price_card {
    gap: 40px;
  }

  .companies_column-inner {
    padding: 36px 30px;
  }

  .companies_column+.companies_column {
    background: none;
    border-radius: 4px;
  }

  .companies_column-inner {
    position: static;
    left: 26px;
    top: -42px;
    padding: 32px 40.5px;
    width: auto;
    background-color: #fff;
    box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
    border-radius: 8px;
  }

  .companies_column {
    position: static;
    max-width: 100%;
  }

  .companies_column-inner .form_authorization {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .form_auth-btn {
    width: 100%;
  }

  .form_auth-btn {
    padding-left: 89px;
    padding-right: 90px;
  }

  .rating-area {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .companies_row {
    flex-direction: column;
    align-items: center;
  }

  .header_top {
    gap: 30px;
    padding-top: 50px;
    display: flex;
    font-size: 16px;
    align-items: center;
    flex-direction: column;
  }

  .companies_icons {
    width: auto;
    padding: 0 25px;
  }

  .header_row {
    padding-top: 0;
  }

  .menu {
    margin: auto;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .title {
    font-size: 30px;
    line-height: 35px;
  }

  .container {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0 20px;
  }

  .sign_up-btn {
    display: none;
  }

  .header_top {
    flex-direction: row;
    padding: 20px;
    width: 100%;
  }

  .header_text {
    margin-bottom: 26px;
  }

  .header_img {
    margin: 0px 20px;
    position: static;
  }

  .header_img img {
    max-height: 300px;
  }

  .header_img::before {
    display: none;
  }

  .header_title {
    font-size: 31px;
    padding-top: 20px;
  }

  .header_row {
    column-gap: 0px;
    flex-direction: column-reverse;
  }

  element.style {
    margin-bottom: 128px;
  }

  .btn {
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
    padding: 0;
  }

  .main {
    padding-top: 0px;
    padding-bottom: 35px;
  }

  .main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .companies {
    padding-top: 34px;
  }

  .companies_column--mini-size {
    display: none;
    width: 431px;
    flex-shrink: 0;
  }

  .features_row {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    flex-wrap: wrap;
    align-items: center;
  }

  .features_column {
    width: 100%;
  }

  .price_card {
    gap: 20px;
  }

  .card {
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card_content {
    padding: 35px 37px 47px 37px;
  }

  .card_title {
    font-size: 25px;
  }

  .card_text {
    font-size: 13px;
  }

  .card_inner-descr {
    font-size: 13px;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    height: 97px;
  }

  .footer_row {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .footer_menu {
    display: none;
  }

  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
  }

  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8794ba;
    transition: all 0.5s;
  }

  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }


  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #f8f9ff;
    transform: translateX(100%);
    transition: transform 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    font-size: 30px;
  }

  .menu.active {
    transform: translateX(0);
    height: 100%;
  }

  .menu li {
    list-style-type: none;
  }

  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }

  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }

  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }

  .hide_scroll {
    overflow: hidden;
  }
}